@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    --main-darker: #3b64c5;
    --main: #547fe8;
    --main-lighter: #e9f0ff;

    --aside-width: 15%;
    --min-aside-width: 17rem;
}

* {
    @apply min-w-0;
    font-family: 'Poppins', sans-serif;
}

a, button, img, input {
    @apply decoration-0 select-none outline-none
}

.customRows-week {
    grid-template-rows: auto 1fr;
}

.customRows-month {
    grid-template-rows: fit-content(100%) repeat(6, 1fr);
}

.gridSpecial > :nth-child(7n -1), .gridSpecial > :nth-child(7n) {
    @apply bg-zinc-100
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: var(--main);
}

@media (max-width: 1000px) {
    #root {
        --aside-width: 100%;
    }
}